# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*.php

# Env files
.env
.env.*
!.env.example

# Composer
composer.lock

# NPM
package-lock.json
yarn.lock

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Logs
*.log

# Misc
*.swp
*.swo